{% extends ':Blog:layout.html.twig' %}

{% block content %}
			<article class="sonata-blog-post-container">
				<time datetime="{{ post.publicationDateStart | date(constant('DATE_W3C')) }}">
					</i>{{ post.publicationDateStart | format_date }}
				</time>
				<header>
					<h2 title="{{ post.title }}">{{ post.title }}</h2>
					<p>
						<i class="fa fa-tags"></i>
{% for tag in post.tags %}
						<a class='tag' href="{{ url('sonata_news_tag', { 'tag': tag.slug } ) }}">{{ tag.name }}</a>
{% endfor %}
					</p>
				</header>
				{% media post.image, 'big' %}
				<div class="sonata-blog-post-content">
					{{ post.content|raw }}
				</div>

				{% render(controller('SonataNewsBundle:Post:comments', {'postId': post.id})) %}

				{% if post.iscommentable %}
					{% render(controller('SonataNewsBundle:Post:addCommentForm', {
						'postId': post.id,
						'form': form
					})) %}
				{% else %}
					<div>
						{{ 'message_comments_are_closed'|trans({}, 'SonataNewsBundle') }}
					</div>
				{% endif %}
			</article>
{% endblock %}